@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap');

*{
  font-family: 'Roboto Mono', monospace;
}

body{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(to right, rgb(80, 201, 195), rgb(150, 222, 218));
}